@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery-gradient {
  background: rgb(220, 193, 171);
  background: linear-gradient(
    0deg,
    rgba(220, 193, 171, 1) 3%,
    rgba(220, 193, 171, 1) 0%,
    rgba(220, 193, 171, 0) 60%
  );
}

img {
  width: 100%;
}

.btn {
  @apply rounded-full border-2 py-3 px-6 text-base transition-all hover:shadow-xl;
}

.nav-li {
  @apply mb-5 ml-0 text-center text-base lg:mb-0 lg:ml-8 lg:text-left lg:text-sm;
}

.title {
  @apply font-montserrat text-xxl font-medium;
}
.subtitle {
  @apply font-montserrat text-xl font-semibold;
}

.container-px {
  @apply container px-5 md:px-10;
}
.subcontainer {
  @apply mx-auto w-full lg:w-4/5;
}
.card {
  @apply mb-5 flex w-max flex-col justify-between rounded-3xl bg-white p-[40px] transition-all hover:scale-105 hover:shadow-2xl lg:mx-5 lg:ml-0 lg:mr-6 lg:mb-0 lg:w-1/3 lg:min-w-min xl:mr-16;
}
.card_heading {
  @apply text-l font-montserrat relative pt-[76px] font-medium;
}
.card_heading::before {
  @apply absolute top-[10px] left-0 h-[44px] w-[44px] bg-contain bg-center bg-no-repeat content-[''];
}
.card .link {
  @apply text-green border-green bg-green_arrow inline-block max-w-max whitespace-nowrap border-b bg-right bg-no-repeat pr-6 pb-1 transition-all duration-500 hover:pr-[100%];
}
.card:hover .link {
  @apply pr-[100%] delay-150;
}

.arrow {
  @apply inline-block h-5 w-5 bg-center bg-no-repeat align-text-bottom transition-all duration-300;
}

.menu:hover ul.submenu {
  @apply visible opacity-100;
}
.btn_hover:hover span.hover_zobacz {
  background-image: url('./assets/images/white_arrow.svg');
}
.btn_hover:hover span.hover_poznaj {
  background-image: url('./assets/images/green_arrow.svg');
}

.search_visible {
  @apply h-auto w-full p-2 lg:w-60  lg:p-4;
}

.stretched {
  @apply top-0 left-0 right-0 bottom-0;
}
